@font-face {
    font-family: 'arabicFont';
  src: url('fonts/Ar.otf'); 
}

label , p , h1 , h2 , h3 , h4 , h5 , h6 , a , b , small, input{
  font-family: 'arabicFont' !important;
}



.bar.bar-stable .title {
font-family: 'arabicFont' !important;
color: #fff;
font-size:20px
}

.bar-stable .button.button-clear {
    color: #fff
}

.noSpace {
    white-space: normal !important;
}

.element{
  direction: rtl;
}

*{
    direction: rtl;
}


.item h2 {
    margin: 12px 0 2px 0;
    font-size: 18px;
    line-height: 30px;
}

.item h1 {
   padding: 0;
   margin: 0;
   font-size: 26px;
   white-space: normal !important;
}

div.prices{
    background: #ddd;
    padding: 7px 15px;
    border-radius: 0 0 15px 0;
    z-index: 999999999;
    position: absolute;
    top: 0;
    left: 0;
    border: 0
}

div.prices p {
 font-size: 16px
}

.bar.bar-stable {
        border-color: #f59f30;
    background-color: #f59f30;
    background-image: linear-gradient(0deg, #f59f30, #f59f30 50%, transparent 50%);
    color: #000300;
}

p.price {
    color: red;
    text-decoration: line-through;
}

p.discount{
    color: green;
    font-weight: bold
}

.prices p {
    margin: 0;
    padding: 0
}

.slider-img{
    min-width: 300px
}

.textArea{
    height: 100px
}

.hasError{
    color: #ff5252;
    font-weight:bold;
}

.hasSuccess{
    color: #1bad00;
    font-weight:bold;
}

.has-error {
        border: 2px solid #ff5252;
    background: antiquewhite;
}

.has-success {
    border: 2px solid #1bad00;
    background: #f2fdf0;
}