<ion-view view-title="المنتجات">
  <ion-content>
        <ion-refresher
    pulling-text="اسحب للاسفل للتحديث..."
    on-refresh="doRefresh()">
  </ion-refresher>
      <section class="list">
        <article ng-repeat="product in products track by $index" >
        <a href="#/app/product/{{product.id}}" class="item item-thumbnail-right" ng-if="product.title">
        <img ng-src="{{product.img}}">
        <h2 class="noSpace">
        {{product.title}}
        </h2>

        <p class="noSpace discount">
        {{product.discount}} ريال
        </p>

        <p class="noSpace price">
        {{product.price}} ريال
        </p>


        </a>

        </article>
      </section>

      <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%" ng-if="moreProducts">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
