<ion-view view-title="بيانات الطالب">
  <ion-content>
  <form ng-submit="onSubmit(contactForm.$valid)" name="contactForm" novalidate="novalidate">
    <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="الاسم بالكامل" ng-model="formModel.fullName" id="fullName" required="required">
  </label>
  <label class="item item-input">
    <input type="email" placeholder="البريد لالكترونى" ng-model="formModel.email" id="email" required="required">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="رقم الجوال" ng-model="formModel.phone" id="phone" required="required">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="العنوان" ng-model="formModel.address" id="address" required="required">
  </label>
  <label class="item item-input">
    <textarea placeholder="تفاصيل اخرى" ng-model="formModel.des" class="textArea" id="des"></textarea>
  </label>

  <label>
  <center>
  <h5 ng-if="hasApp" ng-class="{'hasError':hasError,'hasSuccess':!hasError}">{{resultOper}}</h5>
  </center>
  </label>

  <button type="submit" class="button button-dark button-full button-positive">
  ارسال
</button>

</div>
</form>
  </ion-content>
</ion-view>
