<ion-view view-title="متجر نمـــور الرياضى">
  <ion-content>
        <ion-refresher
    pulling-text="اسحب للاسفل للتحديث..."
    on-refresh="doRefresh()">
  </ion-refresher>
      <section class="list">
        <article ng-repeat="post in posts track by $index" >
        <a href="#/app/category/{{post.id}}" class="item item-thumbnail-small-right" ng-if="post.title">
        <img ng-src="{{post.img}}">
        <h2 class="noSpace">
        {{post.title}}
        </h2>

        <p class="noSpace">
        يحتوى على {{post.productsNum}} منتجات
        </p>


        </a>

        </article>
      </section>

      <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%" ng-if="moreCategories">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
