<ion-view view-title="{{productItemTitle}}">
  <ion-content>

       <div class="list">

  <div class="item item-avatar">
    <h1>{{productItemTitle}}</h1>
  </div>

  <div class="item item-body">

<ion-slide-box>
  <ion-slide ng-repeat="p in productPhotos track by $index">
    <img ng-src="{{p.item_photo_thumb}}" class="slider-img">
  </ion-slide>
</ion-slide-box>

  <div class="prices">
    <p class="discount">{{productItemDiscount}} ريال</p>
    <p class="price">{{productItemPrice}} ريال</p>
  </div>

    

    <p>
      {{productItemDes}}
    </p>
  </div>

    <a href="#/app/contact/{{productItemID}}" class="item item-icon-left">
    <i class="icon ion-email"></i>
    راسالنا لطلب المنتج
  </a>

  <a href="tel: 201024791324" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    اتصل بنا لطلب المنتج
  </a>

</div>



  </ion-content>
</ion-view>
